# Dockerignore file to exclude unnecessary files and directories from the Docker build context
.git
.github
.venv_mid
.vscode
__pycache__
docker-compose.yaml
.gitignore
# Byte-compiled / optimized / DLL files
*.pyc
*.pyo
*.pyd
*.swp
*.swo
*.log
*.bak
*.tmp
*.env
*.venv
venv/
env/
node_modules/
dist/
build/
*.egg-info/
.DS_Store
.idea/
.vscode/
*.iml
*.sln
*.suo
*.ntvs*
*.njsproj
*.sln.docstates
*.sln.ide
*.sln.user
*.sln.vspscc